@page
@model SacramentMeeting.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MeetingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.MeetingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Calling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Calling.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.MeetingID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
